
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap");

body{

    background: -webkit-linear-gradient(left, #93B874, #C9DCB9); 
    background: -o-linear-gradient(right, #93B874, #C9DCB9);
    background: -moz-linear-gradient(right, #93B874, #C9DCB9); 
    background: linear-gradient(to right, #93B874, #87CEEB); 
    background-color: #93B874; 
    overflow: hidden;
}
  #centeredDiv {
 position: absolute;
 left:25%;
 top:18%;
 
 width: 40%;
 height: 30%;
 transform: translate(-50%,-50%);
}
img{
  border: 2px solid black;
  box-sizing: border-box;
  border-radius:100px;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
  transition: transform 2s;
  cursor: pointer;
}
span{
  color: white;
  position: relative;
  left:2.5%;
  font-family: 'Cinzel Decorative', cursive;
  
  text-shadow: 0 0 3px green, 0 0 3px black;
  
 top:5%;
 
}
h5{
  
  position: absolute;
  bottom: 80%;
  font-size:2em;
  border-bottom: 2px solid black;
  margin-left: 20;
}
.p1{
  font-size: 1.5em;
  position: absolute;
  margin:20px 10px;
  top:10%;
}
.p2{
  font-size: 1.2em;
  position: absolute;
  margin:20px 10px;
  top:15%;
}
img:hover{
  transform: rotate(360deg);
}

#div{
  border:2px solid white;
  background-color: orange;
  position: absolute;
  width: 50%;
  height:90%;
  top:10%;
  left:25%;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  overflow: auto;
}

form{
  position: absolute;
  top: 30%;
}
input[type=text],[type=email]{
   width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
textarea{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type=submit]{
  font-size: 1.2em;
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width:480px)
{
  #centeredDiv{
    left:50%;
  }
  
}

