
body{

    background: -webkit-linear-gradient(left, #93B874, #C9DCB9); 
    background: -o-linear-gradient(right, #93B874, #C9DCB9);
    background: -moz-linear-gradient(right, #93B874, #C9DCB9); 
    background: linear-gradient(to right, #93B874, #87CEEB); 
    
    overflow: auto;
     


}

img{

	border: 2px solid black;
	box-sizing: border-box;
	border-radius:100px;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    transition: transform 2s;
    cursor: pointer;
   
}
#div4{
position: absolute;
	border:2px solid  white;
	box-sizing: border-box;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height:100px;
	width:100px;
	top:5%;
	left:45%;

}

img:hover{
	transform: rotate(360deg);
}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  box-sizing:border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  padding: 15px;
  margin: 5px 0 22px 0;
  display: block;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 3px;
  background: #f1f1f1;
  opacity:0.5;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;

}
 input:hover{
 	opacity:1;
 }
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
  border: 1px solid black;
  border-radius: 5px;
box-sizing:border-box; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

/* Add padding to container elements */
.container {
  padding: 16px;
  background-color: pink;
  position:relative;
  top:150;
  left:25%;
  width:50%;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 480px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
